<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.barcrawler3">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
    <meta-data android:name="com.google.android.geo.API_KEY"
               android:value="AIzaSyC4VsFCvY2eSD9UY8wnZw5lrm_0qHdTcU0"/>
               
</manifest>
